---
import Layout from '~/layouts/Layout.astro';
import Section from '~/components/Section.astro';
import Container from '~/components/Container.astro';
import Heading from '~/components/Heading.astro';
---

<Layout pageTitle="Tentang Kami" title="Tentang Kami">
  <Section class:list="bg-gray-50">
    <Container>
      <Heading>
        <h1 slot="heading-title">Solusi Otomasi Industri Terpercaya</h1>
        <p slot="heading-content">
          Selamat datang di PIV, mitra terpercaya Anda dalam dunia otomasi
          industri. Kami menyediakan layanan penjualan dan pemrograman sistem
          industri untuk berbagai kebutuhan pabrik dan perusahaan di seluruh
          Indonesia.
        </p>
      </Heading>
    </Container>
  </Section>

  <Section>
    <Container>
      <Heading>
        <h2 slot="heading-title">Pengalaman & Kepercayaan</h2>
        <p slot="heading-content">
          Selama bertahun‑tahun, kami telah dipercaya oleh banyak pelanggan
          untuk menangani Inverter, Servo Drive, DC Drive, UPS, HMI, PLC,
          Charger Battery di Sidoarjo/Surabaya serta perangkat industri lainnya
          dari berbagai merek ternama seperti:<br />
          ABB, Siemens, Yaskawa, Schneider Electric, Mitsubishi Electric, Omron, Allen
          Bradley, Danfoss, Lenze, Fanuc, Eaton Bussmann dan lainnya.
        </p>
      </Heading>
    </Container>
  </Section>

  <Section class:list="bg-gray-50">
    <Container>
      <Heading>
        <h2 slot="heading-title">Layanan Kami</h2>
        <div slot="heading-content" class="space-y-6">
          <div>
            <h3 class="text-xl font-semibold mb-2">📦 Supplier & Instalasi</h3>
            <p>
              Penyediaan unit baru, instalasi, serta penjualan spare part
              original dari berbagai brand internasional. Mensupply berbagai
              kebutuhan industri seperti Servo Drive, Inverter, Control Board,
              Transistor Module, Power Supply, PCB Generator, serta komponen
              mesin seperti CNC, Welding Machine, Elevator, Plastic Injection,
              Electrolisa Machine dan spare part elektronik seperti Fuse,
              Contactor, IGBT, Thyristor, IC SMD, Rectifier, Zener Diode,
              Varistor, High Voltage Fuse, Knife Fuse, Thermo Control, dan
              lainya dari berbagai merk. (Jual ABB, Siemens, Yaskawa, Schneider
              Electric, Mitsubishi Electric, Omron, Allen Bradley, Danfoss,
              Lenze, Fanuc, Eaton Bussmann dll).
            </p>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-2">
              💻 Pemrograman & Integrasi Sistem
            </h3>
            <p>
              Jasa pemrograman PLC (Programmable Logic Controller) dan HMI
              (Human Machine Interface) untuk meningkatkan efisiensi dan
              produktivitas sistem produksi Anda. (Pemrograman PLC merk Siemens,
              Schneider Electric, Mitsubishi Electric, Lenze dan lainya).
            </p>
          </div>
        </div>
      </Heading>
    </Container>
  </Section>

  <Section>
    <Container>
      <Heading>
        <h2 slot="heading-title">Komitmen Kami</h2>
        <p slot="heading-content">
          Kami berkomitmen untuk memberikan hasil berkualitas, dan harga
          kompetitif, demi memastikan sistem otomasi industri Anda selalu dalam
          performa terbaik.
        </p>
      </Heading>
    </Container>
  </Section>
</Layout>
